

If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used?

NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.

In [1]:
ones = {
    0: '',
    1: 'one',
    2: 'two',
    3: 'three',
    4: 'four',
    5: 'five',
    6: 'six',
    7: 'seven',
    8: 'eight',
    9: 'nine'    
}

teens = {
    10: 'ten',
    11: 'eleven',
    12: 'twelve',
    13: 'thirteen',
    14: 'fourteen',
    15: 'fifteen',
    16: 'sixteen',
    17: 'seventeen',
    18: 'eighteen',
    19: 'nineteen'
}

tens = {
    20: 'twenty',
    30: 'thirty',
    40: 'forty',
    50: 'fifty',
    60: 'sixty',
    70: 'seventy',
    80: 'eighty',
    90: 'ninety'
}

In [2]:
def get_name(n):
    sn = str(n)
    s = ''    
    if n == 1000:
        s = 'onethousand'
    elif n>99:
        s += ones.get(int(sn[0])) + 'hundredand' + get_name(int(sn[1:]))
    elif n>19:
        s += tens.get(int(sn[0]+'0')) + ones.get(int(sn[1]))
    elif n>9:
        s += teens.get(int(sn))
    else:
        s = ones.get(n)
    return s

Ok, everything is good *except* that 100 will be listed as 'onehundredand'.  This occurs for 200 etc.  Thus we have 27 extra letters to subtract.

In [3]:
sum = 0
for n in range(1,1001):
    sum += len(get_name(n))
print(sum-9*3)

21124